<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juke</title>
	<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="/bootstrap-dark.css" rel="stylesheet" />
	<link href="/style.css" rel="stylesheet" />
	<script src="/lodash/index.js"></script>
	<script src="/angular/angular.js"></script>
	<script src="/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/js/module.js"></script>
	<script src="/js/controllers/album.js"></script>
	<script src="/js/controllers/albums.js"></script>
	<script src="/js/controllers/player.js"></script>
	<script src="/js/controllers/artist.js"></script>
	<script src="/js/controllers/artists.js"></script>
	<script src="/js/factories/player.js"></script>
	<script src="/js/factories/album.js"></script>
	<script src="/js/factories/song.js"></script>
	<script src="/js/factories/artist.js"></script>
	<script src="/js/states/albums.js"></script>
	<script src="/js/states/album.js"></script>
	<script src="/js/states/artists.js"></script>
	<script src="/js/states/artist.js"></script>
	<script src="/js/states/artist-albums.js"></script>
	<script src="/js/states/artist-songs.js"></script>
</head>
<body ng-app="juke">
	<div id="main" class="container-fluid">

		<div class="col-xs-2">
			<sidebar>
				<section>
					<h4 ui-sref-active="active" class="playlist-item">
						<a ui-sref="albums">ALBUMS</a>
					</h4>
				</section>
				<section>
					<h4 ui-sref-active="active" class="playlist-item">
						<a ui-sref="artists">ARTISTS</a>
					</h4>
				</section>
				<hr>
				<section>
					<h4 class="text-muted">PLAYLISTS</h4>
					<p>
						<a class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span> PLAYLIST</a>
					</p>
				</section>
			</sidebar>
		</div>

		<div class="col-xs-10">
			<ui-view></ui-view>
		</div>

		<footer>
			<div ng-controller="PlayerCtrl" ng-show="getCurrentSong()">
				<div class="pull-left">
					<button ng-click="back()" class="btn btn-default">
						<span class="glyphicon glyphicon-step-backward"></span>
					</button>
					<button ng-click="toggle()" class="btn btn-default">
						<span ng-if="!isPlaying()" class="glyphicon glyphicon-play"></span>
						<span ng-if="isPlaying()" class="glyphicon glyphicon-pause"></span>
					</button>
					<button ng-click="forward()" class="btn btn-default">
						<span class="glyphicon glyphicon-step-forward"></span>
					</button>
				</div>
				<div class="bar">
					<div class="progress">
						<div class="progress-bar" ng-style="{width: getPercent()}"></div>
					</div>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>