<div class="well">
    <form class="form-horizontal" name="playlistForm">
        <fieldset>
            <legend>New Playlist</legend>
            <div class="form-group">
                <label class="col-xs-2 control-label">Title</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="playlist['The New Playlist'].name" ng-maxlength="16" required ng-submit="true">
                    <span>{{ playlist }}</span>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
	                <div class="alert alert-warning" ng-show="playlistForm.$dirty && playlistForm.$invalid">Please enter a valid title</div>
                    <button type="submit" class="btn btn-success"  ng-click="create(playlist['The New Playlist'])">Create Playlist</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>